doctype html
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
  body
    include ./header.pug
    div.container-fluid
      for team in teams
        div.row #{team}
    include /form.pug
