doctype html
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
  body
    div.header
      h3 EPL Teams 2017
    div.container-fluid
      for team in teams
        div.row #{team}
